* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: palevioletred;
    font-size: 2em;
}

.container {
    height: calc(100vh - 20px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-width: 900px;
    margin: auto;
}

.btn:hover {
    background-color: lightgray; 
    cursor: pointer;
}

.btn-start {
    margin-top: 1.3rem;
    padding: .6rem;
}

.hidden {
    display: none;
}

.show {
    display: inline;
}

.bar, .second-bar {
    height: 20px;
    width: 100%;
}
    
.in {
    animation: fill 7s linear 1;
    height: 100%;
    background-color: greenyellow;
}
  
@keyframes fill {
    0% {
        width: 0%;
    }
    100% {
        width: 100%;
    }
}

.inn {
    animation: fill 30s linear 1;
    height: 100%;
    background-color: greenyellow;
}
  
@keyframes fill {
    0% {
        width: 0%;
    }
    100% {
        width: 100%;
    }
}